*{
    box-sizing: border-box;
    text-decoration: none;  
}
html{
    height: 100%;
}
body{
    margin: 0 auto;
    padding: 0; 
    height: 100%;   
}
.container{
    display: flex;
    height: 100%;
}
.row3{
    flex: 2;
    display: flex;
}
.item-left{    
    min-height: 100%;
    background-color:#191718;
    width: 10%;
}
.row3 .item-left a{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #AAAAAA;
    margin-left: 12px;
    margin-top: 12px; 
}
.row3 .item-left .item-hover{
    border-bottom: 1px solid #5c5c5c;
    line-height: 40px;   
}

.row3 .item-left .item-hover:hover {
    background-color: #5c5c5c; 
}
.row3 .item-left .item-hover:hover a{
    color: white;
}
.item-right{
    text-align: center;
   
   width: 90%;
   max-height: 100%;
   position: relative;
}
.item-right .logo{
    width: 100%;
    margin-top: 20px;
}
.item-right .logo img{
    max-width: 100%;
}
 .menu{
    background-color: black;
    padding: 2%;
    text-align: center;
    margin-bottom: 5%;
    display: none;
}
 .menu a{
    margin-left: 2%;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #AAAAAA;
    white-space: nowrap
}
 .item-right .text-heading{
    background-color:#EFEFEF;
   padding: 5% 27%;
}
.item-right .text{
    padding: 0 5%;
}
 .item-right .item-product{
    
    text-align: left;
    display: flex;
    padding: 0 5%;
}

.item-right .item-product img{
    float: left;
}
.item-right .footer{
    text-align: left;
   
}
 hr{
    margin-top: 10%;
    /* width: 100%; */
   
   
 }

  @media only screen and (min-width: 768px) {
    item-product .col-4 {width: 40%;}
  
  }

  @media only screen and (max-width: 820px) {
    .item-left{
       display: none;
    }
    .menu{
        display: block;
        
    }
    .item-right{
        left: 0;
       width: 100%;
       padding: 0;
    }
    .item-right .item-product{
        display: block;
    }
   .row3{
    display: block;
    text-align: center;
   }
   .item-right .text-heading{
    background-color:#EFEFEF;
    padding: 2% 15px;
    text-align: justify;
    }
    hr{
      
      position: sticky;
    }
  }